.friend_list {
  margin-top: 40px;
}

.friend_item {
  display: flex;
  align-items: center;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 10px;
}


.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.avatar {
  margin-left: 20px;
}

.name {
  font-size: 30px;
  margin-left: 20px;
}
